<div style="width: 100%;" class="about">

    <img style="width: 100%;" src="../../../../assets/image/card.png" alt="">
    <div  class="ab">
    <a style=" color: white;height: 6vh;font-weight: 700; font-size:2svw;" class="nav-link active" aria-current="page"  href="">Stamp Franking</a>

    </div>

    <div class="right1">
        <button>Rupay Debit Card<i class="arrow right"></i></button>
        <button>Rupay Card Offers<i class="arrow right"></i></button> 
        <button>Locker Facility <i class="arrow right"></i></button>
        <button>NEFT/RTGS <i class="arrow right"></i> </button>
        <button>Stamp Franking <i class="arrow right"></i></button>
        <button>Unclaimed Account <i class="arrow right"></i></button>
        <button>SMS Banking<i class="arrow right"></i></button> 
        <button>Mobile Banking<i class="arrow right"></i></button>
     
</div>
     
         <div class="left1">
            
            <p>
                SMS (Short Message Service) is a service which provides by the Bank to their account holders.
                SMS Alert is a service that allows you to stay updated on your banking transactions on NIDHI Co-Operative Bank account on your mobile. These alerts could be event based.
                It is neccessory to register mobile number with Bank.
                
             
            </p>
         </div>
</div>
