<div class="landingpage">
<div class="landing">
    <img src="../../../assets/image/Rectangle 149.png" alt="">
</div>

<div class="second">
    <h2>
        Welcome To Company Name Pvt Ltd. </h2>
        <div class="content">
          
         <img src="../../../assets/image/Rectangle 5.png" alt="">
         <p>For each project we establish relationships with partners who we know will help us create added value for your project. As well as bringing together the public and private sectors.</p>
         <button>Read More</button>
         
        </div>
</div>

<div class="third">
   <div class="up">
    <h3>Banking Products</h3>
    <button style="margin-left: 45vw;">Services</button>
    <button>Advaces</button>
    <button>Deposite</button>
   </div>
    <div class="images">
   <ul>
       <li>
        <img style="margin-left: 1vw;" src="../../../assets/image1/Rectangle 121.png" alt="">
        <img style="margin-left: 3vw;"  src="../../../assets/image1/Rectangle 122.png" alt="">
        <img style="margin-left: 3vw;"  src="../../../assets/image1/Rectangle 123.png" alt="">
        <img style="margin-left: 3vw;"  src="../../../assets/image1/Rectangle 124.png" alt="">

       </li>
   </ul>
    

   </div>
 
  

</div>
<div class="fourth"></div>
    <div class="head">
        <h3 style="text-align: center;background:#EEEEEE ;"> Financial Strength: 2021-22 </h3>
    </div>
    <div class="images2">
        <div class="button1">
            <div class="b1">
                <img src="../../../assets/image/Rectangle 125.png" alt="">
                <h2>1400</h2>
                <p>Share Captial</p>
            </div>
            <div class="b2">
                <img src="../../../assets/image/Rectangle 132.png" alt="">
                <h2>4230</h2>
                <p>Deposit (in lakh)</p>
            </div>
            <div class="b3">
                <img src="../../../assets/image/Rectangle 130.png" alt="">
                <h2>200</h2>
                <p>Net Profit (in lakh)</p>
            </div>
            <div class="b4">
                <img src="../../../assets/image/Rectangle 131.png" alt="">
                <h2>4890</h2>
                <p>Advances (in lakh)</p>
            </div>
        </div>
        <div class="button2">
            <div class="b1">
                <img src="../../../assets/image/Rectangle 126.png" alt="">
                <h2>1400</h2>
                <p>Share Captial</p>
            </div>
            <div class="b2">
                <img src="../../../assets/image/Rectangle 127.png" alt="">
                <h2>4230</h2>
                <p>Deposit (in lakh)</p>
            </div>
            <div class="b3">
                <img src="../../../assets/image/Rectangle 128.png" alt="">
                <h2>200</h2>
                <p>Net Profit (in lakh)</p>
            </div>
            <div class="b4">
                <img src="../../../assets/image/Rectangle 129.png" alt="">
                <h2>4890</h2>
                <p>Advances (in lakh)</p>
            </div>
        </div>


    </div>

</div>