<div class="advances">

    <div class="about">
        <img src="../../../../assets/Nidhi_Banking/education.webp" alt="">
        <div  class="ab">
            <a style="color: white;width: 15vw;height: 6vh;font-weight: 700; font-size:2svw;" class="nav-link active" aria-current="page"  href="">Education Loan</a>
            </div>
        
    </div>
    
    <div class="right1">
        <button>Home Loan<i class="arrow right"></i></button>
        <button>Vehical Loan<i class="arrow right"></i></button> 
        <button>Education Loan <i class="arrow right"></i></button>
        <button>Gold Loan <i class="arrow right"></i> </button>
        <button>Personal Loan <i class="arrow right"></i></button>
        <button>Mortgage Loan <i class="arrow right"></i></button>
        <button>EMI Calculater<i class="arrow right"></i></button> 

    </div>
 <div class="left1">

  
    <h4>All rates are subject to revision from time to time. </h4>
    <button >Application Detail</button>
    <button style="margin-left: 3%;" >Gurantor Details </button>
    <button style="margin-left: 3vw;" >Condition</button>

    <ul style="outline:groove;margin-top: 3vh;">



        <li>Qualification Certificateli>
        <li> Leaving Certificate</li>
        <li>College Certificate</li>
        <li>Fee payable to college</li>
            <li>Expense statement.</li>
            <li>  Copy of last three years Income Tax returns/ Pay slip of last 3 Months.</li>
            <li>3 Photographs of Applicant</li>
            <li> Passport & Visa (if admission in foreign University) </li>
            <li> Address proof - electric bill /telephone bill /Aadhar card (any one) As per KYC norms. </li>
            <li>Photo proof - Pan card / Voter card / Driving license (Any one) As per KYC norms  </li>
            <li> Applicant has to show all original documents to the bank for verification with zerox copy. Original documents will be returned to applicant after verification. </li>
            <li>
                Applicant should have Savings/ current Bank account with the bank.  </li>
    </ul>

 </div>

</div>>
