<div style="width: 100%;" class="about">

    <img style="width: 100%;" src="../../../../assets/image/strength.png" alt="">
    <div  class="ab">
    <a style=" color: white;height: 6vh;font-weight: 700; font-size:2svw;" class="nav-link active" aria-current="page"  href="">Financial Strength</a>

    </div>

    <table style="margin-top: 10vh;">
        <tr style="background: rgba(151, 20, 77, 0.90) ;" >
            <td >Year</td>
            <td>Share Capital</td>
            <td>Reserve Fund</td>
            <td>Deposits</td>
            <td>Loan</td>
            <td>Working Capital</td>
            <td>Profit</td>
            <td>Dividend (%)</td>
            <td>Audit Class</td>
            
          
            
        </tr>
        <tr style="background: #ADADAD;">
            <td >31-03-2018</td>
            <td>571.1</td>
            <td>1887.84</td>
            <td>15424.04</td>
            <td>7935.99</td>
            <td>7935.99</td>
            <td>127</td>
            <td>12%</td>
            <td>A</td>
        
            
        </tr>
    </table>
</div>

