<div class="advances">

    <div class="about">
        <img src="../../../../assets/Nidhi_Banking/personal.webp" alt="">
        <div  class="ab">
            <a style="color: white;width: 15vw;height: 6vh;font-weight: 700; font-size:2svw;" class="nav-link active" aria-current="page"  href="">Personal Loan</a>
            </div>
        
    </div>
    
    <div class="right1">
        <button>Home Loan<i class="arrow right"></i></button>
        <button>Vehical Loan<i class="arrow right"></i></button> 
        <button>Education Loan <i class="arrow right"></i></button>
        <button>Gold Loan <i class="arrow right"></i> </button>
        <button>Personal Loan <i class="arrow right"></i></button>
        <button>Mortgage Loan <i class="arrow right"></i></button>
        <button>EMI Calculater<i class="arrow right"></i></button> 

    </div>
 <div class="left1">
    <p> Personal loan is available as prime security.Trading/Manufacturing units, Traders, Business community can avail credit facility for development of business.

    </p>
    <table>
        <tr>
            <td style="width: 5vw;">NO</td>
            <td>Loan Type</td>
            <td>Intrest Rate</td>
        </tr>
        <tr>
            <td>1</td>
            <td> Personal Loan(limit 3 lkh) </td>
            <td>12.00%</td>
        </tr>

     



    </table>
    <h4>All rates are subject to revision from time to time. </h4>
    <button >Application Detail</button>
    <button style="margin-left: 3%;" >Gurantor Details </button>
    <button style="margin-left: 3vw;" >Condition</button>

    <ul style="outline:groove;margin-top: 3vh;">
        











        <li>Last three years balance sheet, copy of income tax return, copy of Partner's personal return , Memorandum and Article of Association in case of limited company, resolution for loan application, Pay slip of last 3 Months.</li>
        <li>  Three photographs of Applicant</li>
        <li>Business proof of Applicant</li>
        <li>Applicant's Pan card / Partner's Pan Card / Limited Company's Pan card</li>
            <li>Bank statement of last 2 years</li>
            <li>  
                Address proof - electric bill /telephone bill (any one) As per KYC norms</li>
            <li> Photo proof - Pan card / Voter card / Driving license (Any one) As per KYC norms</li>
    </ul>

 </div>

</div>
