<div style="width: 100%;" class="about">

    <img style="width: 100%;" src="../../../../assets/image/bank.png" alt="">
    <div  class="ab">
    <a style=" color: white;height: 6vh;font-weight: 700; font-size:2svw;" class="nav-link active" aria-current="page"  href="">Know Your Bank</a>

    </div>

    <table style="margin-top: 10vh; width: 65vw; margin-left: 15vw;">
        <tr  >
            <td >Bank Registration No.</td>
            <td>*******</td>
          
            
        </tr>
        <tr>
            <td >RBI Licence No.</td>
            <td>*******</td>  
        </tr>

        <tr >
            <td >Date Of Opening</td>
            <td>12/04/1999</td>
          
            
        </tr>
       


    </table>
</div>
