<div style="width: 100%;" class="about">

    <img style="width: 100%;" src="../../../../assets/image/meassage.png" alt="">
    <div  class="ab">
    <a style="color: white;width: 15vw;height: 6vh;font-weight: 700; font-size:2svw;" class="nav-link active" aria-current="page"  href="">Bank History</a>
    </div>



    <div class="right">
       <img src="../../../../assets/image/profile.png" alt="">
       <p>Shri Rameshbhai M. Patel</p>

    </div>
    <div style="margin-left: 35vw; margin-top: -70vh;height: 80vh;" class="left">
        <p>The cooperative sector has been playing a quintessential role in the development of not only the society but also played a unique and 
            irreplaceable role in the growth and development of the country. In the decade where government is trying to come up with various steps
             for Financial Inclusion in the economy, we co-operative banks, have already taken our step forward to reach each and every person residing 
             in Urban as well as Rural areas with co-operation of our members.</p>
    </div>
</div>