<div class="advances">

    <div class="about">
        <img src="../../../../assets/Nidhi_Banking/vehicle.jpg" alt="">
        <div  class="ab">
            <a style="color: white;width: 15vw;height: 6vh;font-weight: 700; font-size:2svw;" class="nav-link active" aria-current="page"  href="">Vehicle Loan</a>
            </div>
        
    </div>
    
    <div class="right1">
        <button>Home Loan<i class="arrow right"></i></button>
        <button>Vehical Loan<i class="arrow right"></i></button> 
        <button>Education Loan <i class="arrow right"></i></button>
        <button>Gold Loan <i class="arrow right"></i> </button>
        <button>Personal Loan <i class="arrow right"></i></button>
        <button>Mortgage Loan <i class="arrow right"></i></button>
        <button>EMI Calculater<i class="arrow right"></i></button> 

    </div>
 <div class="left1">

    <table>
        <tr>
            <td style="width: 5vw;">NO</td>
            <td>Loan Type</td>
            <td>Intrest Rate</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Car Loan</td>
            <td>10.00%</td>
        </tr>

        <tr>
            <td style="width: 5vw;">2</td>
            <td>Bike Type</td>
            <td>11.00%</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Old Car Loan</td>
            <td>14.00%</td>
        </tr>



    </table>
    <h4>All rates are subject to revision from time to time. </h4>
    <button >Application Detail</button>
    <button style="margin-left: 3%;" >Gurantor Details </button>
    <button style="margin-left: 3vw;" >Condition</button>

    <ul style="outline:groove;margin-top: 3vh;">



        <li>Applicants last two years Income tax Return / Payslip of last 3 months / Notarized income certificate for joint family.<li>
        <li>Last tax bill / certificate from society chairman/Secretary if applicant owned property</li>
        <li>3 Photographs of Applicant</li>
        <li>Address proof - electric bill /telephone bill (any one) As per KYC normsli>
            <li>Photo proof - Pan card / Voter card / Driving license/Aadhar card (Any one) As per KYC norms  </li>
            <li>  Quotation of vehicle  </li>
            <li> Applicant has to show all original documents to the bank for verification with zerox copy. Original documents will be returned to applicant after verification. </li>
    </ul>

 </div>

</div>