select {
    padding: 5px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .right1{
display: flex;
flex-direction: column;
width: 25%;

margin-top: 18vh;

  }
  .right1 button{
    height: 10vh;
  }


  .left1 p{
width: 40%;
margin-left: 40vw;
margin-top: -80vh;
height: 50vh;
  }

  .left1{
    height: 100vh;
  }
  .ab a{
    
    position:relative;
  margin-top: -14vh;
    background-color: #A12C5F;
    color: white;
    
    width: 20vw;

}