<div style="width: 100%;" class="about">

    <img style="width: 100%;" src="../../../../assets/image/card.png" alt="">
    <div  class="ab">
    <a style=" color: white;height: 6vh;font-weight: 700; font-size:2svw;" class="nav-link active" aria-current="page"  href="">Stamp Franking</a>

    </div>

    <div class="right1">
        <button>Rupay Debit Card<i class="arrow right"></i></button>
        <button>Rupay Card Offers<i class="arrow right"></i></button> 
        <button>Locker Facility <i class="arrow right"></i></button>
        <button>NEFT/RTGS <i class="arrow right"></i> </button>
        <button>Stamp Franking <i class="arrow right"></i></button>
        <button>Unclaimed Account <i class="arrow right"></i></button>
        <button>SMS Banking<i class="arrow right"></i></button> 
        <button>Mobile Banking<i class="arrow right"></i></button>
     
</div>
     
         <div class="left1">
            
            <p>Our Bank has got License for franking of Special Adhesive Stamp from Superintendent of Stamps, Gandhinagar, Gujarat State. 
                The facility is available to any individual, company, institution, bank or firm
            </p>
         </div>
</div>