<div class="intrest">
    <div class="about">
        <img src="../../../../assets/Nidhi_Banking/service.jpg" alt="">
        <div  class="ab">
            <a style="color: white;width: 15vw;height: 6vh;font-weight: 700; font-size:2svw;" class="nav-link active" aria-current="page"  href=""> Service Charge</a>
            </div>
        
    </div>
    <div class="right1">
        <button>Loan Interest Rate<i class="arrow right"></i></button>
        <button>Deposit Interest Rate<i class="arrow right"></i></button> 
    
    </div>

    <div class="left1">

        <table>
            <tr>
                <td >Charge</td>
                <td>Charge Amount</td>
                <td>Remarks</td>
                
            
            </tr>
            <tr>
                <td>ECS Return  </td>
                <td>200+ GST</td>
                <td>-</td>
           
            </tr>
            <tr>
                <td >Account Close Charges    </td>
                <td>250+GST</td>
                <td>Minimum        </td>
                
            
            </tr>
            <tr>
                <td>SMS</td>
                <td>50+GST</td>
                <td>Quarterly</td>
           
            </tr>
            <tr>
                <td >ATM Yearly Charge                </td>
                <td>200+GST</td>
                <td>Yearly</td>
                
            
            </tr>
            <tr>
                <td>ATM Card Re-Issue Charge                </td>
                <td>250+GST</td>
                <td> -</td>
           
            </tr>

            <tr>
                <td >Folio  Charge   </td>
                <td>350+GST(Minimun)</td>
                <td>Yearly</td>
            
            </tr>
            <tr>
                <td>Service Charge on Loan      </td>
                <td>1.5 % of Loan Amount one time  </td>
                <td>HT,HP,MT,PL,CL                </td>
           
            </tr>

            <tr>
                <td >Cheque Book Issue Charge                </td>
                <td>2 per leaf + GST    </td>
                <td>-</td>
                
            
            </tr>
          
        


        </table>
    </div>


</div>

