select {
    padding: 5px;
}


.about img{
    width: 100%;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .right1{
display: flex;
flex-direction: column;
width: 30%;

  }

  .left1 {
width: 70%;
margin-left: 32vw;
margin-top: -15vh;
height: 100vh;
  }


  .left1 button{
    width: 30vw;
    height: 6vh;
    background: rgb(151, 145, 145);
  }

  
.ab a{
    
  position: absolute;

  background-color: #A12C5F;
  color: white;

}
