
<div class="top">


    <div class="branch-locator">
    
        <select id="branchDropdown" onchange="selectBranch()">
            <label for="branchSearch">Find Your Nearest Branch:</label>
            <input type="text" id="branchSearch" placeholder="Search branch" oninput="filterBranches()">
            <option value="" disabled selected>Select a branch</option>
            <option value="Branch A">Branch A</option>
            <option value="Branch B">Branch B</option>
            <option value="Branch C">Branch C</option>
            <!-- Add more branches as needed -->
        </select>
    </div>
    <div class="language-selector">
        <label for="languages">Select Language:</label>
        <select id="languages" onchange="changeLanguage(this.value)">
            <option value="en">English</option>
            <option value="es">Marathi</option>
            <option value="fr">Hindi</option>
            <!-- Add more language options as needed -->
        </select>
    </div>
    <div class="rupeecard">
        <h4> RUPAY CARD OFFER</h4>
    </div>
    <div class="account">
        <h4>UNCLAIMED ACCOUNT</h4>
    </div>
    <div class="feedback">
        <h4>FEEDBACK</h4>
    </div>
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <img src="../../../assets/image/logo-2 2.png" alt="">
            <img style="height: 5vh;margin-top: 8vh;" src="../../../assets/image/Vector.png" alt="">
            <a class="nav-link active" aria-current="page" href="#">About</a>
            <a class="nav-link active" aria-current="page"  href="">Services</a>
            <a class="nav-link active" aria-current="page"   href="">Advances</a>
            <a class="nav-link active" aria-current="page"  href="">Deposit</a>
            <a class="nav-link active" aria-current="page"  href="">Intrest</a>
            <a class="nav-link active" aria-current="page"   href="">Downlaod</a>
            <a class="nav-link active" aria-current="page"  href="">Conytact-US</a>
          </li>
          
       
        </ul>
       
      </div>
    </div>
  
</nav>
