<div class="contact-us">
    <div class="about">
        <img src="../../../assets/image/Rectangle 40 (1).png" alt="">
        <div  class="ab">
            <a style="color: white;width: 15vw;height: 6vh;font-weight: 700; font-size:2svw;" class="nav-link active" aria-current="page"  href="">Branch Network</a>
            </div>
        
    </div>

<div style="background: #D9D9D9;" class="right">
<h3 style="margin-left: 15vw;" >Head Office</h3>
<p style="margin-left: 3vw;"><img style="width: 2vw;" src="../../../assets/image/search-location.png" alt=""> <strong>"Nidhi House", CTM Char Rasta, NH-8, Amraiwadi, Ahmedabad, Gujarat 380026</strong></p>
<p style="margin-left: 3vw;" ><img src="../../../assets/image/mail-unread-fill.png" alt=""> <strong>info@nidhibank.co.in</strong></p>
<p style="margin-left: 3vw;" ><img style="width: 2vw;" src="../../../assets/image/contact.png" alt=""> <strong>   Call us : 25857901 / 25861907 / 25851333</strong></p>

</div>
</div>
