<div style="width: 100%;" class="about">

    <img style="width: 100%;" src="../../../../assets/image/card.png" alt="">
    <div  class="ab">
    <a style=" color: white;height: 6vh;font-weight: 700; font-size:2svw;" class="nav-link active" aria-current="page"  href="">Rupay Card Offers</a>

    </div>

    <table style="margin-top: 10vh;">
        <tr style="background: rgba(151, 20, 77, 0.90) ;" >
            <td >Name Of Merchant</td>
            <td>Category</td>
            <td>Offers</td>
            <td>Validity</td>
            <td>Coupons</td>
         
        
            
        </tr>
    </table>

</div>