.product1{
    display: table-caption;
    font-weight: 700;
    -webkit-user-modify: read-write-plaintext-only;
}
.product2{
    margin-left: 33vw;
    margin-top: -77vh;
}

#pinInput {
    padding: 10px;
    font-size: 16px;
  }
  
  #pinMessage {
    margin-top: 10px;
    color: red;
  }
  input{
    background: unset;
    border: unset;
    outline: auto;
  }