<div class="advances">

    <div class="about">
        <img src="../../../../assets/Nidhi_Banking/gold.jpg" alt="">
        <div  class="ab">
            <a style="color: white;width: 15vw;height: 6vh;font-weight: 700; font-size:2svw;" class="nav-link active" aria-current="page"  href="">Gold Loan</a>
            </div>
        
    </div>
    
    <div class="right1">
        <button>Home Loan<i class="arrow right"></i></button>
        <button>Vehical Loan<i class="arrow right"></i></button> 
        <button>Education Loan <i class="arrow right"></i></button>
        <button>Gold Loan <i class="arrow right"></i> </button>
        <button>Personal Loan <i class="arrow right"></i></button>
        <button>Mortgage Loan <i class="arrow right"></i></button>
        <button>EMI Calculater<i class="arrow right"></i></button> 

    </div>
 <div class="left1">

      <p>
        Walk into any NIDHI Co-Operative bank branch with your gold, ID proof and address proof and get instant approval.
         Simple process and in-house gold valuation set-up ensures that you get the loan amount in your account or in cash within 30 minutes
        
          </p>


    <h4>All rates are subject to revision from time to time. </h4>
    <button >Application Detail</button>
    <button style="margin-left: 3%;" >Gurantor Details </button>
    <button style="margin-left: 3vw;" >Condition</button>

    <ul style="outline:groove;margin-top: 3vh;">



        <li>Aadhart Card<li>
        <li>PAN Card</li>
        <li>Valid Driving License</li>
        <li>Valid Passport</li>
            <li>Photo proof - Pan card / Voter card / Driving license/Aadhar card (Any one) As per KYC norms  </li>
            <li>  Voter's ID Card</li>
            <li>Job Card issued by NREGA</li>
    </ul>

 </div>

</div>