<div style="width: 100%;" class="about">

    <img style="width: 100%;" src="../../../../assets/image/card.png" alt="">
    <div  class="ab">
    <a style=" color: white;height: 6vh;font-weight: 700; font-size:2svw;" class="nav-link active" aria-current="page"  href="">Rupay Card Offers</a>

    </div>

    <div class="right1">
        <button>Rupay Debit Card<i class="arrow right"></i></button>
        <button>Rupay Card Offers<i class="arrow right"></i></button> 
        <button>Locker Facility <i class="arrow right"></i></button>
        <button>NEFT/RTGS <i class="arrow right"></i> </button>
        <button>Stamp Franking <i class="arrow right"></i></button>
        <button>Unclaimed Account <i class="arrow right"></i></button>
        <button>SMS Banking<i class="arrow right"></i></button> 
        <button>Mobile Banking<i class="arrow right"></i></button>
     
</div>
     
         <div class="left1">
            <p>Branch equipped with Safe Deposit Lockers. These Lockers are of different sizes and available at most competitive rent. 
                Lockers (Safe Deposit Vaults) can be hired by any
                 individual either singly or in joint names.

            </p>
              <table style="margin-top: -20vh; width: 55vw; margin-left: 40vw;">
                <tr style="background: #A12C5F;"  >
                    <td >Sr No.</td>
                    <td>Locker Type</td>
                    <td>One year Rate</td>
                    <td>Five Year Rate</td>
                  
                    
                </tr>
                <tr>
                    <td >1</td>
                    <td>A</td>  
                    <td>000</td>
                    <td>000</td>
                </tr>
        
                <tr >
                    <td >2 </td>
                    <td>B</td>
                    <td>000</td>
                    <td>000</td>
                  
                    
                </tr>


                <tr  >
                    <td >3</td>
                    <td>C</td>
                    <td>000</td>
                    <td>000</td>
                  
                    
                </tr>
                <tr>
                    <td >4</td>
                    <td>D</td>  
                    <td>000</td>
                    <td>000</td>
                </tr>
        
                <tr >
                    <td >5</td>
                    <td>E</td>
                    <td>000</td>
                    <td>000</td>
                  
                    
                </tr>
               
               
        
        
        </table>
         </div>


</div>
