<div class="advances">

    <div class="about">
        <img src="../../../assets/image/Rectangle 92.png" alt="">
        <div  class="ab">
            <a style="color: white;width: 15vw;height: 6vh;font-weight: 700; font-size:2svw;" class="nav-link active" aria-current="page"  href="">Home Loan</a>
            </div>
        
    </div>
    
    <div class="right1">
        <button>Home Loan<i class="arrow right"></i></button>
        <button>Vehical Loan<i class="arrow right"></i></button> 
        <button>Education Loan <i class="arrow right"></i></button>
        <button>Gold Loan <i class="arrow right"></i> </button>
        <button>Personal Loan <i class="arrow right"></i></button>
        <button>Mortgage Loan <i class="arrow right"></i></button>
        <button>EMI Calculater<i class="arrow right"></i></button> 

    </div>
 <div class="left1">

    <table>
        <tr>
            <td style="width: 5vw;">NO</td>
            <td>Loan Type</td>
            <td>Intrest Rate</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Home Loan</td>
            <td>12.00%</td>
        </tr>
    </table>
    <h4>All rates are subject to revision from time to time. </h4>
    <button >Application Detail</button>
    <button style="margin-left: 3%;" >Gurantor Details </button>
    <button style="margin-left: 3vw;" >Condition</button>

    <ul style="outline:groove;margin-top: 3vh;">

        <li>Copy of Last Three years income tax return / Pay slip of last 3 months.</li>
        <li>If Applicant is businessman in that case last three years copies of balance sheet, income tax return of the proprietor/partner,statement of capital account.</li>
        <li>If property is to be purchased under housing scheme,the copies of documents,such as share certificate,allotment-letter,saledeed,revenue records of 7/12. </li>
        <li>Copy of authorised building plan.</li>
    </ul>

 </div>

</div>