<div class="footer">

    <div class="f1">
      <ul>
        <li  class="item">
        <a class="nav-link active" aria-current="page"  href="">HOME    |</a>  
        <a class="nav-link active" aria-current="page"  href="">BANK HISTORY  |</a>  
        <a class="nav-link active" aria-current="page"  href="">EMI CALCULATER  |</a>  
        <a class="nav-link active" aria-current="page"  href="">DEPOSITE CALCULATER  |</a>  
        <a class="nav-link active" aria-current="page"  href="">PRIVACY POLICY</a>
      </li>
    </ul>
    </div>
   <div class="f2">
       <p>Address : "Nidhi House", CTM Char Rasta, NH-8, Amraiwadi, Ahmedabad, Gujarat 380026 </p>
       <p>Mobile : 25857901 / 25861907 / 25851333 </p>
       <p>Mail-us : info@nidhibank.co.in </p>
        <p>Nidhi Co-operative Bank Ltd. is registered with DICGC(https://www.dicgc.org)</p>
       <div class="f3">
           <img src="../../../assets/image/Rectangle 44.png" alt="">
           <img src="../../../assets/image/Rectangle 45.png" alt="">
       </div>
   </div>
   <div class="f4">
    <p><strong>@Nidhi Co-operative Bank Ltd. All Rights are Reserved | Powered By : PHOENIX-IT PARK</strong></p>
   </div>




</div>
