<div style="width: 100%;" class="about">

    <img style="width: 100%;" src="../../../../assets/image/management.png" alt="">
    <div  class="ab">
    <a style=" color: white;width: 15vw;height: 6vh;font-weight: 700; font-size:2svw;" class="nav-link active" aria-current="page"  href="">Management</a>
    </div>



    <div class="container">
        <div class="p1">
       <img src="../../../../assets/image/profile.png" alt="">
       <p>Prakash Bhai Patyel</p>
       <button style="background:#A12C5F ;">MANAGEMENT</button>
        </div>
    </div>
