<div class="download">
   
        <div class="about">
            <img src="../../../assets/image/Rectangle 40.png" alt="">
            <div  class="ab">
                <a style=" margin-top: -9vh;color: white;width: 15vw;height: 6vh;font-weight: 700; font-size:2svw;" class="nav-link active" aria-current="page"  href="">Download</a>
                </div>
            
        </div>
    
    
        <div class="left1">
    
            <table>
                <tr style="background:#97144DE5 ;">
                    <td >#</td>
                    <td>File Name</td>
                    <td>Download File</td>
                    
                </tr>
                <tr>
                    <td >1</td>
                    <td>MOBILE BANKING AND ATM FORM</td>
                    <td><a href="#">Download</a></td>
                    
                </tr>
                <tr>
                    <td >2</td>
                    <td>Positive Pay System</td>
                    <td><a href="#">Download</a></td>
                    
                </tr>
                <tr>
                    <td >3</td>
                    <td> KYC-Document-List-2</td>
                    <td><a href="#">Download</a></td>
                    
                </tr>
                <tr>
                    <td >4</td>
                    <td>self declaration from for kyc updation</td>
                    <td><a href="#">Download</a></td>
                    
                </tr>
                <tr>
                    <td >5</td>
                    <td>SUPPLEMENTRY SAFE DEPOSIT LOCKER AGREEMENT</td>
                    <td><a href="#">Download</a></td>
                    
                </tr>
                <tr>
                    <td >6</td>
                    <td>DOCUMENTS FOR DEATH CLAIM</td>
                    <td><a href="#">Download</a></td>
                    
                </tr>

                <tr>
                    <td >7</td>
                    <td> Awareness Against Cyber Fraud</td>
                    <td><a href="#">Download</a></td>
                    
                </tr>




            </table>
        </div>



</div>
