<div class="service">
    <div class="about">
        <img src="../../../assets/image/Rectangle 41.png" alt="">
        <div  class="ab">
            <a style="color: white;width: 20vw;height: 6vh;font-weight: 700; font-size:2svw;" class="nav-link active" aria-current="page"  href=""> Rupay Debit Card</a>
            </div>
        
    </div>
    <div class="right1">
        <button>Rupay Debit Card<i class="arrow right"></i></button>
        <button>Rupay Card Offers<i class="arrow right"></i></button> 
        <button>Locker Facility <i class="arrow right"></i></button>
        <button>NEFT/RTGS <i class="arrow right"></i> </button>
        <button>Stamp Franking <i class="arrow right"></i></button>
        <button>Unclaimed Account <i class="arrow right"></i></button>
        <button>SMS Banking<i class="arrow right"></i></button> 
        <button>Mobile Banking<i class="arrow right"></i></button>
     
         </div>
     
         <div class="left1">
             <p>We are pleased to inform that RuPay Debit Cards can now be used for online transactions and payments through RuPay PaySecure an 
                e-Commerce solution of National Payments Corporation of India(NPCI). RuPay PaySecure not only provides a platform for e-transactions
                 but also gives the customers a complete unique shopping experience. The RuPay Card can be used at all ATMs, merchant establishments
                  in India for online transactions and payments.
             </p>
         </div>


</div>