<div style="width: 100%;" class="about">

    <img style="width: 100%;" src="../../../../assets/image/meassage.png" alt="">
    <div  class="ab">
    <a style="color: white;width: 15vw;height: 6vh;font-weight: 700; font-size:2svw;" class="nav-link active" aria-current="page"  href="">Bank History</a>
    </div>



    <div class="container">
        <div class="p1">
       <img src="../../../../assets/image/profile.png" alt="">
       <p>Shri Rameshbhai M. Patel</p>
       <button>DIRECTOR</button>
        </div>
        <div class="p2">
       <img src="../../../../assets/image/profile.png" alt="">
       <p>SHRI DILIPKUMAR B RAVAL</p>
       <button>DIRECTOR</button>
        </div>

        <div class="p3">
       <img src="../../../../assets/image/profile.png" alt="">
       <p> SHREE RAMEHBHAI M PATEL</p>
       <button>DIRECTOR</button>
        </div>

    </div>
</div>