.container{
    display: flex;
    justify-content: space-around;
}
.container img{
    width: 16vw;
}

.container button{
    width: 11vw;
    margin-left: 2.5vw;
}

.container p{
    margin-top: 2vh;
    margin-left: 1vw;
}